.container{
    display: flex;
    align-items: center;
    background-color: white;
    margin-top: 95px;
   
}
img{
   width: 70px;
}
h3{
    color: black;
    font-size: 30px;
    margin-top: 20px;
}
span{
    color: coral;
}
p{
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 20px;
}
