<app-nav-bar></app-nav-bar>
<div class="container">
    <div class="row">
        <div class="col-6">       
            <h3>Bienvenidos a <span>Encuestas.com</span>  <img src="assets/images/lista-de-verificacion.gif" alt="USER"></h3>   
        </div> 
        <div class="CrearEn" align="center">
            <button type="button" class="btn btn-success btn-lg" routerLink="/preguntas">Crear Encuesta</button>
            <br>
            <br>
            <h3>Recomendadas para ti...</h3>
        </div>
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-dark">Contestar Encuesta</a>
                </div>
              </div>
        </div>
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-dark">Contestar Encuesta</a>
                </div>
              </div>
        </div>
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-dark">Contestar Encuesta</a>
                </div>
              </div>
        </div>
    </div>        
 </div>

